c = get_config()

c.DataGenerator.query_per_iter=20
c.DataGenerator.batch_per_iter=10
c.DataGenerator.min_score_diff=1.0
c.DataGenerator.high_label=3.0

c.BaseNN.n_bins=11
c.BaseNN.learning_rate=0.001
c.BaseNN.embedding_size=50
c.BaseNN.max_epochs=200000
c.BaseNN.num_batch=100

c.DataGenerator.max_q_len=10
c.BaseNN.max_q_len=       10

c.DataGenerator.max_d_len=1000
c.BaseNN.max_d_len=       1000

c.DataGenerator.batch_size=128
c.BaseNN.batch_size=       128

c.DataGenerator.vocabulary_size=1000000
c.BaseNN.vocabulary_size=       1000000

c.BaseNN.train_in='../MatchZoo_zyk/runtime_data/fulltext/bm25_train'
c.Knrm.train_in=  '../MatchZoo_zyk/runtime_data/fulltext/bm25_train'

c.BaseNN.valid_in_list='../MatchZoo_zyk/runtime_data/fulltext/bm25_valid;../MatchZoo_zyk/runtime_data/fulltext/real_valid_HL_solrex'
c.Knrm.valid_in_list=  '../MatchZoo_zyk/runtime_data/fulltext/bm25_valid;../MatchZoo_zyk/runtime_data/fulltext/real_valid_HL_solrex'

c.BaseNN.test_in='../MatchZoo_zyk/runtime_data/fulltext/ntcir_real_valid'
c.Knrm.test_in=  '../MatchZoo_zyk/runtime_data/fulltext/ntcir_real_valid'

c.Knrm.emb_in='../MatchZoo_zyk/data/support/embed_query_100w_50.txt'

c.Knrm.metrics='ndcg@10;map'
