c = get_config()

c.DataGenerator.query_per_iter=20
c.DataGenerator.batch_per_iter=10
c.DataGenerator.min_score_diff=1.0
c.DataGenerator.high_label=3.0

c.BaseNN.n_bins=11
c.BaseNN.learning_rate=0.001
c.BaseNN.embedding_size=50
c.BaseNN.max_epochs=200
c.BaseNN.num_batch=10

c.DataGenerator.max_q_len=10
c.BaseNN.max_q_len=       10

c.DataGenerator.max_d_len=100
c.BaseNN.max_d_len=       100

c.DataGenerator.batch_size=8
c.BaseNN.batch_size=       8

c.DataGenerator.vocabulary_size=1000000
c.BaseNN.vocabulary_size=       1000000

c.BaseNN.train_in='../data/real_train_HL_solrex/'
c.Knrm.train_in=  '../data/real_train_HL_solrex/'

c.BaseNN.valid_in_list='../data/real_valid_HL_solrex/;../data/real_valid_HL_solrex/'
c.Knrm.valid_in_list=  '../data/real_valid_HL_solrex/;../data/real_valid_HL_solrex/'

c.BaseNN.test_in='../data/real_valid_HL_solrex/'
c.Knrm.test_in=  '../data/real_valid_HL_solrex/'

c.Knrm.emb_in='../data/embed_query_100w_50.txt'
c.Knrm.checkpoint_dir='../model_saver/'
c.Knrm.save_frequency=5
c.Knrm.print_frequency=2

c.Knrm.metrics='ndcg@10;map'
