c = get_config()

c.BaseNN.n_bins=32
c.BaseNN.learning_rate=0.001
c.BaseNN.vocabulary_size=1000000
c.DataGenerator.vocabulary_size=1000000
c.BaseNN.embedding_size=50
c.BaseNN.max_q_len=10
c.BaseNN.max_d_len=1000
c.DataGenerator.max_q_len=10
c.DataGenerator.max_d_len=1000
c.BaseNN.max_epochs=100
c.BaseNN.batch_size=128
c.DataGenerator.batch_size=128
c.DataGenerator.query_per_iter=20
c.Knrm.emb_in='./data/embed_query_100w_50.txt'
c.Knrm.train_in='./data/real_train_HL_solrex/'
c.Knrm.valid_in_list='./data/real_valid_HL_solrex/;./data/real_valid_HL_solrex/'
c.Knrm.test_in='./data/real_valid_HL_solrex/'
c.Knrm.metrics='ndcg@10;map'
